
table.header {
    width: 100%;
}

.headerMenuNoWrap {
   white-space: nowrap;
}

.headerMenu {
    white-space: wrap;
    text-align: center;
 }

td.header-right {
    width: 100%;
    text-align: right;
}

